@font-face {
  font-family: "Mcs Quran";
  src: url("./assets/fonts/Mcs-Quran.woff2") format("woff2"),
    url("./assets/fonts/Mcs-Quran.woff") format("woff"),
    url("./assets/fonts/Mcs-Quran.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nabi";
  src: url("./assets/fonts/Nabi.eot");
  src: url("./assets/fonts/Nabi.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Nabi.woff2") format("woff2"),
    url("./assets/fonts/Nabi.woff") format("woff"),
    url("./assets/fonts/Nabi.ttf") format("truetype"),
    url("./assets/fonts/Nabi.svg#Nabi") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@500;600&family=Noto+Naskh+Arabic:wght@500;600&family=Oswald:wght@200;300;500;600&display=swap");
@import url("./assets/icomoon/style.css");

.highlight {
  background: -webkit-linear-gradient(#2c99ef, #d672ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f4fb;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 0;
}
select {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  cursor: pointer;
  padding: 5px 10px 8px;
  border: 2px solid #cbcbcb;
  border-radius: 10px;
  color: #453d52;
}
.ar {
  font-family: "Vazirmatn", sans-serif;
}
option {
  cursor: pointer;
}
hr {
  margin: 70px 0 40px;
  border: none;
  background: #cbcbcb;
  height: 1px;
}
a {
  text-decoration: none;
}
.overflow-hidden {
  overflow: hidden;
}
/* @media (max-width: 768px) {
  .surah-container {
    display: flex;
    flex-direction: column;
  }
  .surah-container .SurahCategory {
    order: 1;
  }
  .surah-container .player-control {
    order: 2;
    margin-top: 0;
    margin-bottom: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .surah-container .surah {
    order: 3;
  }
  .surah-container .surah img {
    width: 100%;
  }
  .surah-container hr {
    display: none;
  }
}
@media (max-width: 560px) {
  .surah-container .player-control {
    flex-direction: column;
  }
  .surah-container .player-control select {
    margin-bottom: 20px;
  }
} */
